<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %level [%thread] %logger{5} - %msg %n %xEx</pattern>
        </encoder>
    </appender>

    <root level ="${LOG_LEVEL:-WARN}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
